main{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                max-height: auto;
                max-width: auto;
                text-align: center;
                background-color: #263238;
                color: white;
            }
            .regions{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 600px;
                height: 525px;
            }
            .title h2{
                font-size: 1.8rem;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: .1rem;
                height: 30px;
            }
            .title h2::first-letter{
                font-size: 2.3rem;
            }
            .title h2::after{
                content: 'e';
                font-size: 2.3rem;
            }
            .single{
                margin: 0.2rem 0;
                padding: 2rem 1rem;

            }
            .single:hover{
                background-color: transparent;
            }
            .single h4{
                color: var(--blue-clr);
                font-size: .6rem;
            }
            /* .single:hover h4{
                text-decoration: solid;
            } */
            .single p{
                font-size: .8rem;
                color: var(--black-clr);
            }
            .middle img{
                border-radius: 100%;
            }
            .left, .right{
                tranform: translateY(-3%);
            }
            .search{
                display: flex;
                transform: translateY(-50%);
                height: 50px;
            }
            .search input{
                width: 395px;
                height: 35px;
                font-size: 1rem;
                padding: 0.5rem;
                outline: none;
                border: 1px solid rgba(0,0,0,.4);
                border-top-left-radius: .3rem;
                border-bottom-left-radius: .3rem;
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
            .search input:focus{
                border-color: rgba(51,102,204);
                border-width: 3px;
            }
            .search span{
                display: inline-block;
                width: 45px;
                height: 35px;
                background-color: var(--blue-clr);
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                cursor: pointer;
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
            .your-cult-wiki-container{
                display: flex;
                align-items: center;
                width: 460px;
            }
            .your-cult-wiki{
                color: var(--blue-clr);
                border: 1px solid var(--blue-clr);
                background-color: rgba(51,102,204);
                border-radius: .2rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: .5rem 1rem;
                margin: 0 1rem;
            }
            .line{
                height: 1px;
                background-color: #c5c5c5;
                flex: 1;
            }
            .your-cult-wiki span:nth-child(2){
                margin:0 .5rem;
                font-size: .8rem;
                font-weight: 600;
            }
            .your-cult-wiki:hover{
                background-color: transparent;
            }
            .resultItem{
                height: 150px;
                width:100%;
            }
            .resultItem .resultTitle{
                font-size: 20px;
                text-decoration: none;
                color: rgba(51,102,204);
            }
            .resultItem .link{
                font-size: 15px;
                color: #006621;
                text-decoration: none;
            }
            .resultItem p{
                margin: 13px 0;
                margin-left: 320px;
            }
            /*.searchResult{

                width: 50%;
                position: absolute;

                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 20px 0;

            }*/
